JTPE/JTPE_Builder/.vs/
JTPE/Builds/x64/
JTPE/JTPE_Builder/JTBE_Builder_Windows/JTBE_Builder_Windows.vcxproj.user
JTPE/JTPE_Builder/x64/
JTPE/JTPE_Builder/JEngine/x64/
JTPE/JTPE_Builder/JEngine/JEngine.vcxproj.user
JTPE/JTPE_Builder/.idea/
